@model BucketListViewModel
@using System.Security.Claims
@{
}
<html>
<body>

<form asp-controller="BucketList" asp-action="CreateBucketList" asp-route-UserID ="@User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value" >
  <label> Naam: </label>
<input asp-for="Naam" tabindex="1" class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="text"/>
 <button tabindex="1" type="submit" id="kt_drank_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Maak aan</button>
  </form>
</body>
</html>