@using System.Security.Claims, 
@using ODDB.Common.Entities
@model dynamic
@{
}

 <h2 class="display-4">Dit zijn de bucketlists van @User.Claims.First(c => c.Type == ClaimTypes.Name).Value</h2>
  <a asp-controller="BucketList" asp-action="Create">
    <button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Maak een BucketList</button>
</a>
 <table style="width:100%">
        <tr>
            <th>Naam</th>
        </tr>
        @foreach (Bucketlist bucketlist in Model.Bucketlist)
        {
        <tr>
            <td style="font-weight: bold; font-size: 150%;">@bucketlist.Naam </td>
            <td>
                <a asp-controller="Bucketlist" asp-action="Show" asp-route-BucketlistID="@bucketlist.BucketListId">
                    <button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Show bucketlist</button>
                </a>
            </td>
            <td>
                <a asp-controller="Bucketlist" asp-action="AddDrank" asp-route-BucketlistID="@bucketlist.BucketListId">
                    <button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Edit bucketlist</button>
                </a>
            </td>
        </tr>
        }
    </table>

