@using ODDB.Common.Entities
@model dynamic
@{   
}
<html>
    <body>
    <p>
    <a asp-controller="Drank" asp-action="AddDrank">
        <button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Voeg drank toe</button>
    </a>
</p>
</div>
<table style="width:100%">
    <tr>
        <th>Naam</th>
        <th>Type</th>
        <th>Omschrijving</th>
        <th>Alcohol percentage</th>
    </tr>
    @foreach (Drank drank in Model.Drank)
    {
        <tr>
            <td>@drank.Naam </td>
            <td>@drank.Type </td>
            <td>@drank.Omschrijving </td>
            <td>@drank.AlcoholPecentage </td>
        </tr>
    }
</table>
    </body>
</html>
