@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div styel="text-align: center;">
<img src="https://image.freepik.com/free-vector/error-404-page-found-page-found-text-oops-looks-like-something-went-wrong_143407-2.jpg" alt="sometimes things don't go according to plan" width="800" height="600">
</div>