@using ODDB.Common.Entities
@model dynamic
@{   
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p><a href="/Drank">HTML tutorial</a></p>

</div>
<form asp-controller="Drank" asp-action="GetAll">
    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">All Drinks:</label>
    </div>
    <div class="pb-lg-0 pb-5">
        <button tabindex="1" type="submit" id="kt_drank_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Show All</button>
    </div>
</form>

